* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .logo {
  text-align: center;
}

header nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b1d281;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

header nav a:hover {
  color: darkblue;
  text-decoration: underline;
}

main {
  background-image: url(/img/fondo-pag-speciali.jpg);
}

main h2 {
  color: darkblue;
  text-shadow: 1px 1px 1px white;
  text-align: center;
  padding: 25px 0;
}

main .card {
  display: flex;
  flex-wrap: wrap;
}

main img {
  margin: 25px;
  width: 30%;
}

