* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .logo {
  text-align: center;
}

header nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b1d281;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

